  .red{
 background-color:red;   
}

.orange{
background-color:orange;
}

.yellow{
background-color:yellow;
}

.green{
background-color:green;
}

.blue{
background-color:blue;
}

.pink{
background-color:pink;
}

.purple{
background-color:purple;
}

.lime{
background-color:#00FF00;
}

.magenta{
background-color:#FF00FF;
}

.olive{
background-color:#808000;
}

.maroon{
background-color:#8C001A;
}

.silver{
background-color:#C0C0C0;
}

.Lightblue{
background-color:#ADD8E6;
}

.champagne{
background-color:#F7E7CE;
}

.peach{
background-color:#FFE5B4;
}

.camelbrown{
background-color:#C19A6B;
}

.PlumVelvet{
background-color:#7D0552;
}

.CottonCandy{
background-color:#FCDFFF;
}

.Periwinkle{
background-color:#E9CFEC;
}

.Tangerine{
background-color:#E78A61;
}





















































div {
    width:100px;
    height:100px;
    border: 1px solid black;
    float:left;
    padding: 1px;
    text-align:center;
}